.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  margin: 10px;
  padding: 2px;
  height: 50px;
  width: 100px;
  background-color: aquamarine;
  font-size: large;
  cursor: pointer;
}

.header{
  width: 100%;
  height: 75px;
  background-color: blueviolet;
}

.userList{
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.userDiv{
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: black;
  border-style: solid;
  text-align: left;
}
.userDetail{
 list-style: none;
 display: flex;
 flex-direction: column;
 width: fit-content;
}
.todoDetail{
 list-style: none;
 display: flex;
 flex-direction: column;
 width: 200px;
 word-wrap: initial;
}
.errorDiv{
  background-color: bisque;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}